<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
  </p>

      <ul class="phones">
        <li ng-repeat="task in tasks" >
        {{ task | json }}
        <input class="toggle" type="checkbox" ng-model="task.done" ng-change="toggleDone(task.id)"/>
        <input type="text" ng-model="task.description" ng:blur="update(task.id, {description: task.description } )">
        <button ng-click="destroy($index)">Delete</button>
        </li>
      </ul>

    <input type="text" ng-model="newTask.description"/>
    <button ng:click="create({ description: newTask.description })">Save</button> 
